{% comment %} STATIC ALLOWS US TO LOAD FILES UNDER THAT FOLDER NAME EITHER GLOBAL OR WITHIN THE APP SCOPE
 {% endcomment %}
{% load static %}
<link rel="stylesheet" href="{% static 'ticket/includes/header.css' %}" />
<sectio class="nav">
  <h1>BIZMANAGER TECH</h1>
  <h3 class="span loader">
    <span class="m">I</span><span class="m">N</span><span class="m">D</span
    ><span class="m">U</span><span class="m">S</span><span class="m">T</span
    ><span class="m">R</span><span class="m">Y</span
    ><span class="m">&nbsp;</span><span class="m">S</span
    ><span class="m">T</span><span class="m">A</span><span class="m">N</span
    ><span class="m">D</span><span class="m">A</span><span class="m">R</span
    ><span class="m">D</span>
  </h3>
  <div class="nav-container">
    {% comment %} URL IS EXACTLY THE SAME AS REVERSE(PATHNAME,ARGS=[]) BUT JUST FOR HTML... 
    IT RECONSTRUCTS PATHS BASED ON THEIR NAME= ATRIBUTE IN URLS.PY{% endcomment %}
    <a class="nav-tab" href="{% url 'homepage'%}">HOME</a
    ><a class="nav-tab" href="{% url 'list'%}">TICKETS</a
    ><a class="nav-tab" href="{% url 'team' %}">TEAM</a><a class="nav-tab" href="">PROJECTS</a>
    {% if user.is_authenticated %}
    <a class="nav-tab" href="{% url 'logout' %}">LOGOUT</a>
    {% else %}
    <a class="nav-tab" href="{% url 'register_user' %}">REGISTER</a>
    <a class="nav-tab" href="{% url 'login' %}">LOGIN</a>
    {% endif %}
    <span class="nav-tab-slider"></span>
  </div>
  {% comment %} SEE WHO IS LOGGED IN {% endcomment %}
  {% if user.is_authenticated %}
  <div class="nav-container2">
    <pre class="text-white">{{user}}</pre>
  </div>
  {% endif %}
</sectio>
