{% extends 'base.html' %} {% block content %}
<style>
  .login {
    margin: 0 auto;
    padding: 20px;
    width: 40%;
  }
</style>
<div class="login">
  <h1>Authenticate</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <div class="text-center">
      <div class="mb-3">
        <label for="em" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          name="em"
          placeholder="name@example.com"
        />
        <br />
        <label for="pwd" class="form-label">Pass</label>
        <input
          type="password"
          class="form-control"
          name="pwd"
          placeholder="********"
        />
      </div>
      <button class="btn btn-primary" type="submit">Log in</button>
    </div>
  </form>
  <hr />
  <div class="text-center">
    <a href="{% url 'register_user' %}">Create an account</a>
  </div>
</div>
{% endblock %}
