{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container mt-5 mb-3">
  <div class="row">
    {% for ticket in object_list%}
    <div class="col-md-4">
      <div class="card p-3 mb-2">
        <div class="d-flex justify-content-between">
          <div class="d-flex flex-row align-items-center">
            <div class="icon"><i class="bx bxl-mailchimp"></i></div>
            <div class="ms-2 c-details">
              <h6 class="mb-0">ticket.user</h6>
              <span>x days ago</span>
            </div>
          </div>
          <div class="badge"><span></span></div>
        </div>
        <div class="mt-5">
          <h3 class="heading">Priority<br />{{ticket.priority}}</h3>
          <div class="mt-5">
            <div class="progress">
              <div
                class="progress-bar"
                role="progressbar"
                style="width: 50%"
                aria-valuenow="50"
                aria-valuemin="0"
                aria-valuemax="100"
              ></div>
            </div>
            <div class="mt-3">
              <pre>{{ticket.comment}}</pre
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
